/* h1 typogrpahy */
.h1-reg {

  font-family: Quicksand;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.28px;
}

.h1-sem {

  font-family: Quicksand;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.28px;
}



.h1-bold {

  font-family: Quicksand;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
  /* 118.75% */
  letter-spacing: -1.28px;
}


/* h2 typography */
.h2-reg {


  font-family: Quicksand;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

.h2-sem {


  /* Headline/2/semibold */
  font-family: Quicksand;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.56px;

  @media (min-width: 320px) and (max-width: 767px) {
    text-align: center;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }
}

.h2-bold {


  /* Headline/2/bold */
  font-family: Quicksand;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.56px;
}

/* h3 typography */
.h3-reg {


  /* Headline/3/regular */
  font-family: Quicksand;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
}

.h3-sem {


  /* Headline/3/semibold */
  font-family: Quicksand;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.24px;
}

.h3-bold {

  font-family: Quicksand;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
}

/* h4 typography */
.h4-reg {

  font-family: Quicksand;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}

.h4-sem {

  font-family: Quicksand;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
}

.h4-bold {

  font-family: Quicksand;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;
}

/* h5 typography */
.h5-reg {

  font-family: Quicksand;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}

.h5-sem {

  font-family: Quicksand;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.16px;
}

.h5-bold {

  font-family: Quicksand;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.16px;
}

/* h6 typography */
.h6-reg {

  font-family: Quicksand;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.h6-sem {

  font-family: Quicksand;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.12px;
}

.h6-bold {

  font-family: Quicksand !important;
  font-size: 2.4rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  letter-spacing: 0.12px !important;
}


/* h7 typography */
.h7-reg {

  font-family: Quicksand;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
}

.h7-sem {

  font-family: Quicksand;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1px;
}

.h7-bold {

  font-family: Quicksand;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1px;
}

.h2-bolds {


  /* Headline/2/bold */
  font-family: Quicksand;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.56px;
}

.mixed-Styles1 {
  /* height: 1007px; */
  flex-shrink: 0;
  align-self: stretch;
  color: #31293F;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.08px;
}

.mixed-Styles2 {
  color: var(--gray-8, #31293F);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
}

.mixed-Styles3 {
  color: var(--secondary-7, #527500);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
  text-decoration-line: underline;
}

.mixed-Styles4 {
  color: var(--gray-8, #31293F);
  margin: 16px 0px 16px 0px;
  font-family: Quicksand;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.16px;
}





/* p1 typography paragraph */

.p1-reg {

  font-family: Nunito !important;
  font-size: 1.6rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  /* 150% */
  letter-spacing: 0.08px !important;

}

.p1-sem {

  font-family: Nunito;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.08px;
}

.p1-bold {

  font-family: Nunito;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.08px;
}

/* p2 typography paragraph */

.p2-reg {

  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.28px;
}

.p2-sem {

  font-family: Nunito !important;
  font-size: 1.4rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  /* 142.857% */
  letter-spacing: 0.28px !important;
}

.p2-bold {


  /* Paragraph/2/bold */
  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.28px;
}

/* p3 typography paragraph */

.p3-reg {

  font-family: Nunito;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 0.42px;
}

.p3-sem {
  font-family: Nunito;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 0.42px;
}

.p3-bold {

  font-family: Nunito;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 0.42px;
}

/* p4 typography paragraph */

.p4-reg {
  font-family: Nunito;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 144.444% */
}

.p4-sem {


  /* Paragraph/4/semibold */
  font-family: Nunito;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 144.444% */
}

.p4-bold {


  /* Paragraph/4/bold */
  font-family: Nunito;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 144.444% */
}

/* button style */
.btn1 {

  font-family: Nunito;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.8px;
}

.btn2 {

  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  /* 100% */
  letter-spacing: 0.42px;
}

.btn3 {

  font-family: Nunito;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  /* 116.667% */
  letter-spacing: 0.48px;
}

/* label style */

.ovr1-reg {

  font-family: Nunito;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 100% */
  letter-spacing: 0.08px;
}

.ovr1-sem {

  font-family: Nunito;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 100% */
  letter-spacing: 0.08px;
}

.ovr1-bold {

  font-family: Nunito;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 100% */
  letter-spacing: 0.08px;
}

.ovr2-reg {


  /* Overline/label/2/regular */
  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 100% */
  letter-spacing: 0.07px;
}

.ovr2-sem {

  /* Overline/label/2/semibold */
  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  /* 100% */
  letter-spacing: 0.07px;
}

.ovr2-bold {


  /* Overline/label/2/bold */
  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  /* 100% */
  letter-spacing: 0.07px;
}

.ovr3-reg {


  /* Overline/label/3/regular */
  font-family: Nunito;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  /* 100% */
  letter-spacing: 0.06px;
}

.ovr3-sem {


  /* Overline/label/3/semibold */
  font-family: Nunito;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  /* 100% */
  letter-spacing: 0.06px;
}

.check {
  color: #635B73;
  font-family: Sen;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 153.846% */
}

.cross {
  color: #7D748C;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.08px;
  text-decoration: line-through;
}

.cross1 {
  color: #989898;
  text-align: center;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 144.444% */
  text-decoration: line-through;
}

.cross2 {
  color: #333;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.body1-reg {
  font-family: Quicksand !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  letter-spacing: 0.1px !important;
}

.body2-reg {
  font-family: Nunito !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 26px !important;
  /* 144.444% */
}

.body2-sem {
  font-family: Nunito !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 26px !important;
  /* 144.444% */
}

.body1-bold {
  font-family: Quicksand !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  letter-spacing: 0.1px !important;
}

.body1-sem {
  font-family: Quicksand !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  letter-spacing: 0.1px !important;
}

.body3-bold {
  font-family: "Nunito" !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  letter-spacing: 0.08px !important;
}

.body3-sem {
  font-family: Nunito !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  letter-spacing: 0.08px !important;
}


.body3-light {
  color: #9A93A5 !important;
  font-family: Nunito !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  letter-spacing: 0.08px !important;
}

.body3-reg {
  color: var(--Black, #06030D) !important;
  font-family: Nunito !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  letter-spacing: 0.08px !important;
}

.body4-bold {
  color: var(--gray-6, #635B73);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.28px;
}

.body4-reg {
  color: var(--gray-6, #635B73) !important;
  font-family: Nunito !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  /* 142.857% */
  letter-spacing: 0.28px !important;
}

.chip {
  width: 110px;
  padding: 12px;
  height: auto;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #9A93A5);
  background: var(--White, #FCFCFC);
  margin-right: 16px;
}

.unavailbale {
  color: var(--gray-4, #9A93A5);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.08px;
}

.available {
  color: #00A389;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.08px;
}

.selected-box {
  background: #00A389 !important;
}

.selected-para {
  color: #FCFCFC !important;
}

.booked {
  color: #F00;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.08px;
}

.chip-unavailable {
  padding: 12px;
  height: auto;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #9A93A5);
  background: var(--White, #FCFCFC);
}

.chip-available {
  width: 188px !important;
  text-align: center;
  padding: 12px;
  height: auto;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #00A389);
  background: var(--White, #FCFCFC);
}

.chip-booked {
  width: 188px !important;
  text-align: center;
  padding: 12px;
  height: auto;
  border-radius: 8px;
  border: 1px solid var(--gray-4, #F00);
  background: var(--White, #FCFCFC);
}

.rightContent {
  width: 368px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #D5D2D9;
}

.timelineItems {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .chip-booked {
    width: 49% !important;
    text-align: center;
  }

  .chip-booked>p {
    font-size: 1.3rem !important;
  }

  .chip-available {
    width: 49% !important;
    text-align: center;
  }

  .chip-available>p {
    font-size: 1.3rem !important;
  }

  .chip-unavailable {
    width: 49% !important;
    text-align: center;
  }

  .chip-unavailable>p {
    font-size: 1.3rem !important;
  }

  .h5-bold {
    font-size: 24px;
  }

  .right-container {
    width: 100%;
  }

  .appointmentDetail {
    flex-direction: column-reverse;
  }

  .rightContent {
    width: 100%;
  }

  .timelineItems {
    flex-direction: column;
  }

  .deleteButton {
    width: 50% !important;
  }

  .changeReferCancelButton {
    width: 50% !important;
  }

  .detailDilog>div>div {
    width: 100% !important;
  }
}

.link {
  text-decoration: none !important;
}

.icon {
  margin-right: 8px !important;
}

.card {
  border-radius: 16px !important;
  background: var(--White, #FCFCFC) !important;
  box-shadow: 2px 2px 32px 0px rgba(0, 0, 0, 0.08) !important;
}





.custom-select {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 52px;
  padding: 5px;
  color: #635B73;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
}

.textareainput {
  padding: 5px;
  color: #635B73;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
}

.custom-select:hover {
  border-color: #d5d2d9;
}

.custom-select:active,
.custom-select:focus {
  outline: none;
  /* Remove default browser focus outline */
  border-color: #d5d2d9;
  /* Border color when clicked or focused */
}

.css-1aquho2-MuiTabs-indicator {
  background: none !important;
}

.react-calendar {
  height: 333px !important;
  margin-top: 3px !important;
  border: none !important;
  border-radius: 16px !important;
  background: #FCFCFC !important;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.08), 4px 4px 16px 0px rgba(0, 0, 0, 0.04) !important;
  padding: 5px !important;
}

.react-calendar__navigation>button {
  color: #06030D;
  font-family: 'Nunito';
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.react-calendar__tile--active {
  background-color: #614298 !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 25px !important;
}

.react-calendar__month-view__days>button {
  font-family: 'Nunito';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.react-calendar__month-view__weekdays>div {
  font-family: 'Nunito';
  font-size: 11px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#myTextArea {
  resize: none;
}

#myTextArea {
  width: 300px;
  /* Fixed width */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #d5d2d9;
  transition: border-color 0.3s;
  /* Smooth transition for border color */
}

/* Styles for hover state */
#myTextArea:hover {
  border-color: #d5d2d9;
  /* Change border color on hover */
}

/* Styles for active state */
#myTextArea:active,
#myTextArea:focus {
  border-color: #d5d2d9;
  /* Change border color when active or focused */
  outline: none;
  /* Remove default outline */
}


.deactive {
  color: #7355A8 !important;
  /* Body/3/regular */
  font-family: "Nunito" !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  text-decoration: none;
  letter-spacing: 0.08px !important;
}

.active {
  color: var(--primary-7, #341766) !important;
  font-family: "Nunito" !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  letter-spacing: 0.08px !important;
  text-decoration: none;
  background-color: #F4EDFF !important;
  border-radius: 0px 20px 20px 0px;
}

.active ::before {
  content: "";
  height: 100% !important;
  width: 6px !important;
  background: #341766 !important;
  position: absolute;
  top: 0px;
  left: 0px;
}

.sidebar-navigation {
  display: flex !important;
  padding-left: 16px !important;
  height: 50px !important;
  align-items: center !important;
}

.sidebar-navigation2 {
  display: flex !important;
  padding-left: 16px !important;
  height: 50px !important;
  align-items: center !important;
  padding-left: 47px !important;
}

.active-bg {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 172px !important;
  height: 48px !important;
  border-radius: 16px !important;
  background-color: #7355A8 !important;
}

.deactive-bg {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 172px !important;
  height: 48px !important;
  border-radius: 16px !important;
  background-color: none !important;
}

.my-textfield ::placeholder {
  color: #7D748C;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.08px;
}

.my-textfield>div>input {
  color: #000000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.08px;
}

.filterChip {
  background: #614298 !important;
  color: #FCFCFC !important;
  font-family: "Nunito" !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.06px;
}

.filterChip>svg {
  color: #FCFCFC !important;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.react-date-picker__wrapper {
  width: 236px !important;
  height: 44px !important;
  padding: 10px 14px 10px 16px !important;
  align-items: center;
  gap: 8px;
  border: 1px solid #D5D2D9 !important;
  border-radius: 8px;
  color: #7355A8;
  font-family: 'Nunito';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
}

.react-date-picker__inputGroup__year {
  width: 50px !important;
}

.react-date-picker__clear-button {
  display: none !important;
}

.react-date-picker__calendar-button svg {
  display: none !important;
}

.react-date-picker__calendar-button::before {
  content: url('/src/assets/Calendar.svg');
  display: block;
  width: 20px;
  height: 20px;
}

.upload-btn-wrapper .box {
  display: flex;
  width: 368px;
  height: 96px;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Gray-2, #D5D2D9);
  background: var(--White, #FCFCFC);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

}

.addSign {
  color: #000;
  text-align: center;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 9.5px;
  letter-spacing: 0.2px;
}

.fileSize {
  color: #000;
  font-family: Nunito;
  font-size: 6px;
  font-style: normal;
  font-weight: 600;
  line-height: 9.5px;
  letter-spacing: 0.12px;
}


.upload-btn-wrapper .box i {
  font-size: 40px;
  margin-bottom: 10px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.over1-sem {
  color: #635B73;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.06px;
}

.profilePopover>.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  border-radius: 16px !important;
  border-color: #B7B2BF;
  top: 55px !important;
  background-color: #FCFAFF;
}

.appointmentDilog>.css-hz1bth-MuiDialog-container>div {
  border-radius: 16px;
}

.timelineContainer {
  margin: 16px 29px;
}

.timelineContent {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid #D5D2D9;
  background: #FCFCFC;
  margin: 16px 0px;
}

.timelineHeadingContent {
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}

.timelineHeadingContent>button {
  display: flex;
  padding: 14px 20px 14px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--White, #FCFCFC);
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.8px;
  border: none;
  border-radius: 8px;
  background: #FF5B5B;
}

.timelineSaperator {
  width: 100%;
  height: 1px;
  background: #D5D2D9;
}

.timelineItem {
  display: flex;
  gap: 16px;
  align-items: center;
}

.timelineItem>h2 {
  display: flex;
  padding: 12px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #D5D2D9;
  background: #FCFCFC;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.timelineItem>button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  color: #FF5B5B;
  border: 1px solid #FF5B5B;
  background: #FCFCFC;
  transform: rotate(90deg);
  padding-bottom: 4px;
}

.timelineItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.addTimelineModal {
  display: flex;
  width: 1148px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: white;
}

.timelinePopup {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.timelinePopup>div {
  width: 300px;
}

.timelinePopup>button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  color: #FF5B5B;
  border: 1px solid #FF5B5B;
  background: #FCFCFC;
  transform: rotate(90deg);
  padding-bottom: 4px;
}

.timelinePopupHeading {
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}

.timelinePopupHeading>button {
  display: flex;
  padding: 14px 20px 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--White, #FCFCFC);
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.8px;
  border: none;
  border-radius: 8px;
  background: #614298;
}

.selectDropdown>fieldset {
  display: flex;
  width: 162px;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #D5D2D9;
  background: #FCFCFC;
}

.selectDropdown>svg {
  z-index: 1;
}

.searchAction>div>fieldset {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #D5D2D9;
  background: #FCFCFC;
}

.searchAction>div>input {
  color: #635B73;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
}

.searchAction>label {
  color: #635B73;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
}

.selectallstudent {
  margin: 0px !important;
}

.selectallstudent>span {
  color: #635B73;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  padding: 10px !important;
  border-radius: 16px !important;
  background: #FCFCFC;
}

.timelineMenuItem {
  justify-content: center !important;
}

#menu-m_sch_from>.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  height: 211px !important;
}

#menu-m_sch_to>.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  height: 211px !important;
}

.deleteButton {
  width: 90px;
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  color: #FCFCFC;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.8px;
  border-radius: 8px;
  background: #E83F40;
}

.changeReferCancelButton {
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #614298;
  color: #614298;
  background: #FCFCFC;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.8px;
}

.MuiPickersFadeTransitionGroup-root {
  font-size: 14px;
}

.MuiTablePagination-toolbar>p {
  font-size: 1.5rem;
}

.MuiDayCalendar-header>span {
  font-size: 14px;
}

.MuiPickersDay-dayWithMargin {
  font-size: 12px !important;
}

.loader {
  width: 110px;
  aspect-ratio: 1;
  border: 10px solid #ddd;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
}

.loader::before {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: 50%;
  border: 10px solid #614298;
  animation: l18 2s infinite linear;
}

.deleteLoader {
  width: 110px;
  aspect-ratio: 1;
  border: 10px solid #ddd;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
}

.deleteLoader::before {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: 50%;
  border: 10px solid #E83F40;
  animation: l18 2s infinite linear;
}

@keyframes l18 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}

.briefAttachement {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 148px;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Gray-2, #D5D2D9);
  background: var(--White, #FCFCFC);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.profilePopover>.MuiPopover-paper {
  border-radius: 16px !important;
  border-color: #B7B2BF;
  top: 55px !important;
  background-color: #FCFAFF;
}

.searchAction>div>fieldset {
  z-index: -1;
  font-size: 20px;
}

.dummyBg {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
  background: #F2F2F2;
}

.questionCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  border-radius: 16px;
  background: #fff;
}

.questionNumber {
  color: #7355A8;
  font-family: "Nunito";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 12px;
}

.question {
  color: #101011;
  font-family: "Nunito";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 12px;
}

.answerOptions {
  color: #6A6A6A;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.questionButton {
  width: 118px;
  height: 38px;
  flex-shrink: 0;
  background: #7355A8;
  color: #FFF;
  text-align: center;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 5px;
  letter-spacing: 0.08px;
}