@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #FCFCFC;
    background-position: center;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Sen', sans-serif;
  }
  
  html{
    font-size: 62.5%;
  }